.custom-mybooking img{
    height: 180px;
}
.myBookingP h6{
    margin: 3px;
}

.cancel-btn{
    background-color: crimson;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px 10px;
    margin-right: 15px;
}
.status-design p{
    margin-top: 13px;
}