.arrangement-title p{
    margin: 0;
    font-style: italic;
    font-weight: 600;
    color: #097752;
}

.arrangement-title hr{
    width: 75%;
}

@media only screen and (max-width: 600px) {
    .arrangement-title hr{
        width: 100%;
    }
}